# This is authorization file required for database and other things
/auth.json

# Preferences file
/preferences.json

# Database configuration file
/db.json

# Sequelize configuration file
/sequelize.js
